*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    overflow-x: hidden;
}
html,body{
   width : 100%;
   height : 100%;
   background : rgb(242, 142, 65);
}

.main{
    width: 98.7%;
    height: 97.6%;
    background-color: white;
    margin-left: 8px;
    margin-top: 8px;
    border-radius: 20px;
}
 
.header{
    display: flex;
}
.logo{
    font-family:'Montserrat';
    font-weight: 700;
    font-size: 23px;
    margin-left: 50px;
    margin-top: 18px;
}

.dot{
    color:rgb(242, 142, 65);
}

.nav{
    display: flex;
    gap: 50px;
    font-weight: 100;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 27px;
    margin-left: 180px;
}

.icons{
    justify-content: space-between;
    margin-left: 431px;
    margin-top: 25px;
}

.ri-search-line{
    margin-right: 35px;
}

.ri-shopping-cart-line{
    margin-right: 35px;
}

.ri-user-fill{
    margin-left: 1px;
}

.uline{
    width: 98.7%;
    height: 1px;
    background-color: #c9cac7;
    position: absolute;
    margin-top: 8px;
}



